$mobile-size: 375px;
$primary: hsl(225, 100%, 94%);
$primaryBright: hsl(245, 75%, 52%);
$neutral: hsl(225, 100%, 98%);
$neutralDesaturated: hsl(224, 23%, 55%);
$neutralDark: hsl(223, 47%, 23%);
$neutralShark: hsl(245, 83%, 68%, 100%);
$accent: #7b879d;